html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Style the navbar */
.navbar {
  overflow: hidden;
  position: sticky;
  z-index: 10;
  background: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
}

/* Navbar links */
.navbar a {
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: 'Playfair Display SC';
  background: transparent;
  border-color: transparent;
}

.nav-link {
  text-align: center;
}

.checked {
  color: orange;
}

.icon {
  text-align: center;
}

.carousel-item {
  padding: 200px;
  border:
}

h1 {
  text-align: center;
  color: white;
}

/*This is the CSS for the google calendar*/
iframe {
  padding-left: 50px;
  padding-right: 0px;
  padding-top: 100px;
  padding-bottom: 0px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 60px;
}

.Calendar {
  padding: 0px 0px 0px 85px;
}

/*footer start here*/
footer {
  width: 100%;
  background-color: black;
  padding: 3%;
}

/*this is for the google and twitter links*/
.fa {
  font-size: 50px;
  color: #FFF;
  padding: 3%;
}

.gallery {
  padding-top: 350px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 px;
}

.column img {
  margin-top: px;
  vertical-align: middle;
  width: 100%;
}

/* This is for the 4 images on the pricing page*/
.pricing-images {
  padding: 10px 0px;
}

.pricingpage {
  padding-top: 200px;
}

/*center image*/
.center-image {
  padding-top: 200px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.flash{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#fff;
 }

th {
  color: white;
}

td {
  color: white;
}
